@page "/dsr-reminder"

@inject AttendanceClient attendanceClient
@inject NavigationManager NavigationManager
@attribute [StreamRendering]

<PageTitle>DSR Reminder</PageTitle>

<SearchFilters Attendances="@attendanceSummaries" @bind-SearchName="@SearchName" @bind-FromDate="FromDate"
    @bind-ToDate="ToDate" OnSearch="HandleSearchAsync">
</SearchFilters>

@if (filteredAttendanceSummaries is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table id="index-table" class="table table-striped table-bordered table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>IP Address</th>
                    <th>DSR</th>
                    <th>Created On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                }
                @foreach (var attendance in filteredAttendanceSummaries)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>@attendance.Name</td>
                        <td>@attendance.EmailId</td>
                        <td>@attendance.MobileNumber</td>
                        <td>@attendance.IPAddress</td>
                        <td>
                            @if (attendance.IsDSRSent)
                            {
                                <span class="badge text-bg-success">Sent</span>
                            }
                            else
                            {
                                <span class="badge text-bg-danger">Not Sent</span>
                            }
                        </td>
                        <td>@attendance.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <div class="d-flex">
                                @if (!attendance.IsDSRSent)
                                {
                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="@GetUpdateModalId(attendance)">
                                        Send DSR Reminder
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-primary" disabled>
                                        DSR Sent
                                    </button>
                                }
                                <SendDSRReminder Attendance="@attendance" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private AttendanceSummary[]? attendanceSummaries;
    private AttendanceSummary[]? filteredAttendanceSummaries;

    private string SearchName { get; set; } = string.Empty;
    private DateTime? FromDate { get; set; }
    private DateTime? ToDate { get; set; }
    protected override async Task OnInitializedAsync()
    {
        attendanceSummaries = await attendanceClient.GetYesterdayAttendanceSummariesAsync();
        filteredAttendanceSummaries = attendanceSummaries;
    }

    private string GetUpdateModalId(AttendanceSummary attendance)
    {
        return $"#{UpdateAttendance.GetModalId(attendance)}";
    }

    private async Task HandleSearchAsync()
    {
        if (string.IsNullOrWhiteSpace(SearchName) && FromDate is null && ToDate is null)
        {
            filteredAttendanceSummaries = attendanceSummaries;
        }
        else
        {
            filteredAttendanceSummaries = await attendanceClient.GetAttendanceSearchForDSRReminderAsync(new AttendanceFilters
            {
                SearchName = SearchName,
                FromDate = FromDate,
                ToDate = ToDate
            });
        }
    }
}
