@page "/search"

@inject AttendanceClient attendanceClient
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Attendance</PageTitle>

<!-- SearchFilters.razor -->
<div class="row mb-3">
    <div class="col">
        <input type="text" @bind="SearchName" placeholder="Search by name" class="form-control" />
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" @onclick="HandleSearchAsync">Search</button>
    </div>
</div>

@if (filteredAttendanceSummaries is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table id="index-table" class="table table-striped table-bordered table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Present</th>
                    <th>Created On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attendance in filteredAttendanceSummaries)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>@attendance.Name</td>
                        <td>@attendance.EmailId</td>
                        <td>@attendance.MobileNumber</td>
                        <td>
                            @if (attendance.IsPresent)
                            {
                                <span class="badge text-bg-success">Present</span>
                            }
                            else
                            {
                                <span class="badge text-bg-danger">Absent</span>
                            }
                        </td>
                        <td>@attendance.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <div class="d-flex">
                                <button class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="@GetUpdateModalId(attendance)">
                                    @(attendance.IsPresent ? "Mark Absent" : "Mark Present")
                                </button>
                                <UpdateAttendance Attendance="@attendance" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private int index = 0;
    private string SearchName = "Shoeb";

    private AttendanceSummary[]? attendanceSummaries;
    private AttendanceSummary[]? filteredAttendanceSummaries;

    protected override async Task OnInitializedAsync()
    {
        index = 0;
        attendanceSummaries = await attendanceClient.GetAttendanceSummariesAsync();
        filteredAttendanceSummaries = attendanceSummaries;
    }

    private string GetUpdateModalId(AttendanceSummary attendance)
    {
        return $"#{UpdateAttendance.GetModalId(attendance)}";
    }

    private async Task HandleSearchAsync()
    {
        index = 0;

        if (string.IsNullOrWhiteSpace(SearchName))
        {
            filteredAttendanceSummaries = await attendanceClient.GetAttendanceSummariesAsync();
        }
        else
        {
            filteredAttendanceSummaries = await attendanceClient.GetAttendanceSearchAsync(new AttendanceFilters
            {
                Name = SearchName
            });
        }
    }
}
